---
import MainLayout from "../layouts/MainLayout.astro";
import SkillSection from "../components/SkillSection.astro";
import ProjectCard from "../components/ProjectCard.astro";
import { MoonStar, Sun, Linkedin, Github } from "lucide-astro";
const allProjects = await Astro.glob("../pages/projects/*.mdx");
const pageTitle = "WELCOME TO MY PORTFOLIO!";
---
<MainLayout pageTitle={pageTitle}>
  <div class="min-h-screen flex items-center justify-center snap-center" id="about">
    <div class="flex flex-col text-center gap-y-20">
      <div>
      <h1 class="text-8xl sm:text-9xl font-extrabold bg-gradient-to-r from-blue-500 via-teal-500 to-pink-500 bg-clip-text text-transparent select-auto">
        Wojciech<br>Zgliniecki
      </h1>
      </div>
      <div class="flex justify-center items-center gap-4">
        <div class="mockup-code text-left">
          <pre data-prefix="$"><code>Software Developer</code></pre>
          <pre data-prefix=">" class="text-warning"><code>Main Technologies: </code></pre>
          <pre data-prefix=">" class="text-success"><code>["Python", "Django", "TS", "React"]</code></pre>
        </div>
        <div class="mockup-code text-left">
          <pre data-prefix="$"><code>Economist</code></pre>
          <pre data-prefix=">" class="text-warning"><code>Gdańsk University of Technology</code></pre>
          <pre data-prefix=">" class="text-success"><code>Faculty of Economics</code></pre>
        </div>
        <div class="mockup-code text-left">
          <pre data-prefix="$"><code>Control Engineer</code></pre>
          <pre data-prefix=">" class="text-warning"><code>Gdańsk University of Technology</code></pre>
          <pre data-prefix=">" class="text-success"><code>Faculty of Electronics</code></pre>
        </div>
      </div>
      <div>
        <div class="badge badge-info gap-2">
          <a
          class="flex flex-row"
          href="https://pl.linkedin.com/in/wojciech-zgliniecki-1279a1166"
          aria-label="My LinkedIn profile"><Linkedin />Linkedin</a>
        </div>
        <div class="badge badge-success gap-2">
          <a
          class="flex flex-row"
          href="https://github.com/wzgliniecki/"
          aria-label="My LinkedIn profile"><Github />Github</a>
        </div>
      </div>
    </div>
  </div>
  

  <div class="min-h-screen flex items-center justify-center snap-center"  id="skills">
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 p-4">
        <SkillSection stackPart={"language"} sectionTitle={"LANGUAGES"} />
        <SkillSection stackPart={"backend"} sectionTitle={"BACKEND"} />
        <SkillSection stackPart={"frontend"} sectionTitle={"FRONTEND"} />
        <SkillSection stackPart={"other"} sectionTitle={"OTHER"} />
      </div>
  </div>
  <div id="projects">
  {
    allProjects
      .filter((project) => project.frontmatter.isPrivate === false)
      .map((project) => {
        return (
        <div class="min-h-screen flex items-center justify-center snap-center" id={project.frontmatter.projectTitle}>
            <div class="min-h-80">
              <ProjectCard
                projectTitle={project.frontmatter.projectTitle}
                projectLogo={project.frontmatter.projectLogo}
                featuresList={project.frontmatter.featuresList}
                mainRepo={project.frontmatter.mainRepo}
                demoLink={project.frontmatter.demoLink}
                technologiesList={project.frontmatter.technologiesList}
                projectDescription={project.frontmatter.description}
                isWorkInProgress={project.frontmatter.isWorkInProgress}
              />
            </div>
          </div>
        );
      })
  }
  </div>
</MainLayout>
