---
import MainLayout from "../layouts/MainLayout.astro";
import SkillSection from "../components/SkillSection.astro";
import ProjectCard from "../components/ProjectCard.astro";
const allProjects = await Astro.glob("../pages/projects/*.mdx");
const pageTitle = "WELCOME TO MY PORTFOLIO!";
---

<MainLayout pageTitle={pageTitle}>
  <div class="min-h-screen snap-center" id="about">
    <h2
      class="text-2xl font-extrabold text-center text-primary text-text dark:text-darkText mb-6"
    >
      Software Developer
    </h2>
    <h2
      class="text-2xl font-extrabold text-center text-primary text-text dark:text-darkText mb-6"
    >
      Economist
    </h2>
    <h2
      class="text-2xl font-extrabold text-center text-primary text-text dark:text-darkText mb-6"
    >
      Engineer
    </h2>
    <div class="grid grid-cols-2 grid-rows-2 gap-6 p-4 h-[30vh]">
      <SkillSection stackPart={"language"} sectionTitle={"LANGUAGES"} />
      <SkillSection stackPart={"backend"} sectionTitle={"BACKEND"} />
      <SkillSection stackPart={"frontend"} sectionTitle={"FRONTEND"} />
      <SkillSection stackPart={"other"} sectionTitle={"OTHER"} />
    </div>
  </div>
  {
    allProjects
      .filter((project) => project.frontmatter.isPrivate === false)
      .map((project) => {
        const projectSlug = project.url.split("/").pop().replace(".md", "");
        console.log(project.frontmatter);
        return (
          <div class="min-h-screen snap-center">
            <div class="min-h-80">
              <ProjectCard
                projectTitle={project.frontmatter.projectTitle}
                projectLogo={project.frontmatter.projectLogo}
                featuresList={project.frontmatter.featuresList}
                mainRepo={project.frontmatter.mainRepo}
                demoLink={project.frontmatter.demoLink}
                technologiesList={project.frontmatter.technologiesList}
                projectDescription={project.frontmatter.description}
              />
            </div>
          </div>
        );
      })
  }
</MainLayout>
