---
const {
  projectTitle,
  projectLogo,
  isPrivate,
  isWorkInProgress,
  repositoryLinks,
  projectSlug,
  technologiesList,
} = Astro.props;
import { Github, MonitorPlay } from "lucide-astro";
import TechnologiesBar from "./TechnologiesBar.astro";
---

<div
  class="bg-white dark:text-white border-black border-2 hover:shadow-[8px_8px_0px_rgba(0,0,0,1)] rounded-md text-center"
>
  <a href={`/projects/${projectSlug}`} class="block cursor-pointer">
    <img
      src={`/images/projects/logos/${projectLogo ?? "placeholder.svg"}`}
      alt={projectTitle}
      class="mx-auto h-32 w-auto object-contain mb-2 mt-2"
    />
  </a>
  <div
    class="bg-main dark:bg-mainAccent min-w-full h-100 border-black border-t-2"
  >
    <h2 class="text-xl font-semibold text-text dark:text-darkText">
      {projectTitle}
    </h2>
    <div class="flex row w-full">
      <button
        type="button"
        class="flex items-center justify-center p-2 rounded-lg border-black border-2 hover:shadow-boxShadow bg-button hover:bg-buttonHover active:bg-buttonActive h-10 w-1/2"
      >
            <a
              href={repositoryLinks}
              target="_blank"
              class="flex justify-center items-center text-text dark:text-darkText hover:underline "
            >
              <Github class="w-6 h-6" />
              Repository
            </a>
          
      </button>
      <button
          type="button"
          class="flex justify-center p-2 rounded-lg border-black border-2 hover:shadow-boxShadow bg-button hover:bg-buttonHover active:bg-buttonActive h-10 w-1/2"
        >
              <a
                href={repositoryLinks}
                target="_blank"
                class="flex justify-center items-center text-text dark:text-darkText hover:underline"
              >
                <MonitorPlay class="w-6 h-6"/>
                Demo
              </a>
        </button>
      </div>


        {
          !!technologiesList && (
            <TechnologiesBar technologiesList={technologiesList} />
          )
        }
  </div>
</div>
