---
import Header from "../components/Header.astro";
const { frontmatter } = Astro.props;
import { ViewTransitions } from "astro:transitions";
import { Github, MonitorPlay } from "lucide-astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
    <title>{frontmatter.projectTitle}</title>
  </head>

  <body
    class="bg-bg text-text dark:bg-darkBg dark:text-darkText transition-all duration-300"
  >
    <a
      href="#main"
      class="skip-nav-link absolute left-2 transform -translate-y-[140%] bg-blue-500 px-8 py-2.5 transition-transform duration-325 ease-in focus:-translate-y-0.5"
    >
      Skip to main content
    </a>
    <Header />
    <main id="main" class="max-w-7xl mx-auto px-6 py-12">
      <h1
        class="text-3xl font-extrabold text-center text-primary text-text dark:text-darkText mb-6"
      >
        {frontmatter.projectTitle}
      </h1>
      <div class="flex row place-content-center content-between">
      <button
      type="button"
      class="flex items-center justify-center p-2 rounded-lg border-black border-2 hover:shadow-[3px_3px_0px_rgba(0,0,0,1)] bg-[#FFA6F6] hover:bg-[#fa8cef] active:bg-[#f774ea] h-10 w-25"
    >
          <a
            href={frontmatter.repositoryLinks}
            target="_blank"
            class="flex justify-center items-center text-black  hover:underline "
          >
            <Github class="w-6 h-6" />
            Repository
          </a>
        
    </button>
    <button
        type="button"
        class="flex justify-center p-2 rounded-lg border-black border-2 hover:shadow-[3px_3px_0px_rgba(0,0,0,1)] bg-[#FFA6F6] hover:bg-[#fa8cef] active:bg-[#f774ea] h-10 w-25"
      >
            <a
              href={frontmatter.repositoryLinks}
              target="_blank"
              class="flex justify-center items-center text-black hover:underline"
            >
              <MonitorPlay class="w-6 h-6"/>
              Demo
            </a>
      </button>
      </div>
      </br>
      <div class="prose max-w-full text-text dark:text-darkText">
        <slot />
      </div>
    </main>
  </body>
</html>
